.pancakes {
    background-color: salmon;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

a {
    margin-left: 800px;
    
}

li {
    color: blue;
    font-family: cursive;
}